@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(to right, #2a282a, #302933);
    margin: 0;
    padding: 0;
}

.unselectable {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar { 
    display: none;
}

input {
    outline: none;
    border: none;
}